# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle
#
# Dependency Review Action
#
# This Action will scan dependency manifest files that change as part of a Pull Request,
# surfacing known-vulnerable versions of the packages declared or updated in the PR.
# Once installed, if the workflow run is marked as required, PRs introducing known-vulnerable
# packages will be blocked from merging.
#
# Source repository: https://github.com/actions/dependency-review-action
# Public documentation: https://docs.github.com/en/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review#dependency-review-enforcement

name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Generate secret files
        run: |
          echo ${{ secrets.KEYSTORE_PROPERTIES }} | base64 -d > ${{ github.workspace }}/keystore.properties
          echo ${{ secrets.KEYSTORE_FILE }} | base64 -d > ${{ github.workspace }}/app/artemis-agent-keystore.jks
          echo ${{ secrets.GOOGLE_SERVICES }} | base64 -d > ${{ github.workspace }}/app/google-services.json

      - name: Set up JDK 21
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version-file: .tool-versions
          distribution: 'temurin'

      # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
      # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          dependency-graph: generate-and-submit
          dependency-graph-exclude-configurations: 'detachedConfiguration.*'

      - name: Build with Gradle Wrapper
        uses: burrunan/gradle-cache-action@663fbad34e03c8f12b27f4999ac46e3d90f87eca # v3.0.1
        with:
          arguments: build koverXmlReport

      - name: Upload Unit Test Results
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: always()
        with:
          name: Unit Test Results
          path: |
            ${{ github.workspace }}/**/build/test-results/**/*.xml
            !${{ github.workspace }}/**/konsist/build/test-results/**/*.xml

      - name: Upload Konsist Test Results
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: always()
        with:
          name: Konsist Test Results
          path: |
            ${{ github.workspace }}/**/konsist/build/test-results/**/*.xml

      - name: Upload Code Coverage Reports
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: always()
        with:
          name: Code Coverage Reports
          path: |
            ${{ github.workspace }}/**/build/reports/kover/report.xml

  dependency-review:
    name: Dependency review
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
    steps:
      - name: 'Wait for base branch workflow run'
        uses: ArcticLampyrid/action-wait-for-workflow@ff297b23789206858260877c4b83026d90c6db8c # v1.3.0
        if: ${{ github.event_name == 'pull_request' }}
        timeout-minutes: 1
        with:
          workflow: gradle.yml
          branch: ${{ github.event.pull_request.base.ref }}
          sha: ${{ github.event.pull_request.base.sha }}
          wait-interval: 5

      - name: 'Checkout repository'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: 'Dependency Review'
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2
        # Commonly enabled options, see https://github.com/actions/dependency-review-action#configuration-options for all available options.
        with:
          comment-summary-in-pr: always
          fail-on-severity: moderate
          base-ref: ${{ github.event.pull_request.base.sha || 'main' }}
          head-ref: ${{ github.event.pull_request.head.sha || github.ref }}

  test-results:
    name: Publish test results
    needs: build
    runs-on: ubuntu-latest
    if: always()
    permissions:
      checks: write
      pull-requests: write
    steps:
      - name: Download Unit Test Results
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: Unit Test Results
          path: tests

      - name: Download Konsist Test Results
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: Konsist Test Results
          path: konsist

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action/linux@34d7c956a59aed1bfebf31df77b8de55db9bbaaf # v2.21.0
        with:
          check_name: Unit Test Results
          files: tests/**/*.xml

      - name: Publish Konsist Test Results
        uses: EnricoMi/publish-unit-test-result-action/linux@34d7c956a59aed1bfebf31df77b8de55db9bbaaf # v2.21.0
        if: always()
        with:
          check_name: Konsist Test Results
          files: konsist/**/*.xml

  coverage:
    name: Report code coverage
    needs: build
    runs-on: ubuntu-latest
    if: always()
    strategy:
      matrix:
        module:
          - app
          - IAN
          - IAN/enums
          - IAN/listener
          - IAN/packets
          - IAN/udp
          - IAN/util
          - IAN/vesseldata
          - IAN/world
    permissions:
      checks: write
      pull-requests: write
    steps:
      - name: Download Code Coverage Reports
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: Code Coverage Reports
          path: coverage

      - name: Code Coverage (${{ matrix.module }})
        uses: mi-kas/kover-report@5f58465b6f395c8fa3adc2665e27250bad87de50 # v1.9
        with:
          title: Code Coverage (${{ matrix.module }})
          path: coverage/${{ matrix.module }}/build/reports/kover/report.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          update-comment: true
          min-coverage-overall: ${{ matrix.module == 'app' && 0 || 99 }}

  total-coverage:
    name: Report code coverage (total)
    needs: coverage
    runs-on: ubuntu-latest
    if: always()
    permissions:
      checks: write
      pull-requests: write
    steps:
      - name: Download Code Coverage Reports
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: Code Coverage Reports
          path: coverage

      - name: Total Code Coverage
        uses: mi-kas/kover-report@5f58465b6f395c8fa3adc2665e27250bad87de50 # v1.9
        with:
          title: Total Code Coverage
          path: |
            coverage/app/build/reports/kover/report.xml
            coverage/IAN/build/reports/kover/report.xml
            coverage/IAN/enums/build/reports/kover/report.xml
            coverage/IAN/listener/build/reports/kover/report.xml
            coverage/IAN/packets/build/reports/kover/report.xml
            coverage/IAN/udp/build/reports/kover/report.xml
            coverage/IAN/util/build/reports/kover/report.xml
            coverage/IAN/vesseldata/build/reports/kover/report.xml
            coverage/IAN/world/build/reports/kover/report.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          update-comment: true
          min-coverage-overall: 90
