# This workflow runs Android UI tests

name: Android Instrumented Tests

on:
  push:
    branches: [ "main" ]
    paths:
      - .github/workflows/instrumented-tests.yml
      - app/src/androidTest/**
      - app/src/main/**
      - app/build.gradle.kts
      - build-logic/*.gradle.kts
      - build-logic/src/**
      - build.gradle.kts
      - gradle/**
      - IAN/build.gradle.kts
      - IAN/*/build.gradle.kts
      - IAN/src/main/**
      - IAN/*/src/main/**
  pull_request:
    branches: [ "main" ]
    paths:
      - .github/workflows/instrumented-tests.yml
      - app/src/androidTest/**
      - app/src/main/**
      - app/build.gradle.kts
      - build-logic/**
      - build.gradle.kts
      - gradle/**
      - IAN/build.gradle.kts
      - IAN/*/build.gradle.kts
      - IAN/src/main/**
      - IAN/*/src/main/**

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        api-level: [23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36]
        orientation: [ {name: portrait, rotation: 0, skin: 480x800}, {name: landscape, rotation: 1, skin: 800x480} ]
    name: Test API ${{ matrix.api-level }} emulator (${{ matrix.orientation.name }})
    timeout-minutes: 45
    concurrency:
      group: ${{ github.workflow }}-${{ matrix.api-level }}-${{ matrix.orientation.rotation }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Generate secret files
        run: |
          echo ${{ secrets.KEYSTORE_PROPERTIES }} | base64 -d > ${{ github.workspace }}/keystore.properties
          echo ${{ secrets.GOOGLE_SERVICES }} | base64 -d > ${{ github.workspace }}/app/google-services.json

      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Set up JDK 21
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version-file: .tool-versions
          distribution: 'temurin'

      - name: Set up Android SDK Tools
        uses: android-actions/setup-android@9fc6c4e9069bf8d3d10b2204b1fb8f6ef7065407 # v3.2.2

      # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
      # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1

      - name: Run tests on API ${{ matrix.api-level }}
        uses: reactivecircus/android-emulator-runner@b530d96654c385303d652368551fb075bc2f0b6b # v2.35.0
        with:
          api-level: ${{ matrix.api-level }}
          target: ${{ matrix.api-level >= 28 && 'playstore' || 'default' }}
          arch: x86_64
          force-avd-creation: true
          emulator-options: -no-snapshot-save -no-window -no-metrics -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none -skin ${{ matrix.orientation.skin }}
          disable-animations: true
          script: ./gradlew connectedCheck

      - name: Upload Test Results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: always()
        with:
          name: "Instrumented Test Results (API ${{ matrix.api-level }}, ${{ matrix.orientation.name }})"
          path: ${{ github.workspace }}/app/build/outputs/androidTest-results/connected/**/*.xml

  publish:
    needs: test
    runs-on: ubuntu-latest
    if: always()
    permissions:
      checks: write
      pull-requests: write
    steps:
      - name: Download Test Results
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: tests

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action/linux@27d65e188ec43221b20d26de30f4892fad91df2f # v2.22.0
        with:
          check_name: Instrumented Test Results
          files: tests/**/*.xml
