# This workflow runs Android UI tests

name: Android Instrumented Tests

on:
  push:
    branches: [ "main" ]
    paths:
      - .github/workflows/instrumented-tests.yml
      - app/src/androidTest/**
      - app/src/main/**
      - app/build.gradle.kts
      - build-logic/*.gradle.kts
      - build-logic/src/**
      - build.gradle.kts
      - gradle/**
      - IAN/build.gradle.kts
      - IAN/*/build.gradle.kts
      - IAN/src/main/**
      - IAN/*/src/main/**
  pull_request:
    branches: [ "main" ]
    paths:
      - .github/workflows/instrumented-tests.yml
      - app/src/androidTest/**
      - app/src/main/**
      - app/build.gradle.kts
      - build-logic/**
      - build.gradle.kts
      - gradle/**
      - IAN/build.gradle.kts
      - IAN/*/build.gradle.kts
      - IAN/src/main/**
      - IAN/*/src/main/**

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        api-level: [23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36]
        orientation: [ {name: portrait, rotation: 0, skin: 480x800}, {name: landscape, rotation: 1, skin: 800x480} ]
    name: Test API ${{ matrix.api-level }} emulator (${{ matrix.orientation.name }})
    timeout-minutes: 45
    concurrency:
      group: ${{ github.workflow }}-${{ matrix.api-level }}-${{ matrix.orientation.rotation }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Generate secret files
        run: |
          echo ${{ secrets.KEYSTORE_PROPERTIES }} | base64 -d > ${{ github.workspace }}/keystore.properties
          echo ${{ secrets.GOOGLE_SERVICES }} | base64 -d > ${{ github.workspace }}/app/google-services.json

      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Set up JDK 21
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version-file: .tool-versions
          distribution: 'temurin'

      - name: Set up Android SDK Tools
        uses: android-actions/setup-android@9fc6c4e9069bf8d3d10b2204b1fb8f6ef7065407 # v3.2.2

      - name: Download AdbServer JAR
        id: download
        uses: suisei-cn/actions-download-file@818d6b7dc8fe73f2f924b6241f2b1134ca1377d9 # 1.6.0
        with:
          url: https://github.com/KasperskyLab/Kaspresso/blob/master/artifacts/adbserver-desktop.jar
          target: ${{ github.workspace }}/app/adbserver-desktop.jar

      # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
      # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - name: Run AdbServer
        uses: JarvusInnovations/background-action@v1.0.7
        with:
          run: java -jar ${{ steps.download.outputs.filename }}
          wait-on: file:${{ steps.download.outputs.filename }}

      - name: Run tests on API ${{ matrix.api-level }}
        uses: reactivecircus/android-emulator-runner@1dcd0090116d15e7c562f8db72807de5e036a4ed # v2.34.0
        with:
          api-level: ${{ matrix.api-level }}
          target: ${{ matrix.api-level >= 28 && 'playstore' || 'default' }}
          arch: x86_64
          force-avd-creation: true
          emulator-options: -no-snapshot-save -no-window -no-metrics -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none -skin ${{ matrix.orientation.skin }}
          disable-animations: true
          script: ./gradlew connectedAndroidTest

      - name: Upload Test Results
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: always()
        with:
          name: "Instrumented Test Results (API ${{ matrix.api-level }}, ${{ matrix.orientation.name }})"
          path: ${{ github.workspace }}/app/build/outputs/androidTest-results/connected/**/*.xml

  publish:
    needs: test
    runs-on: ubuntu-latest
    if: always()
    permissions:
      checks: write
      pull-requests: write
    steps:
      - name: Download Test Results
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          path: tests

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action/linux@3a74b2957438d0b6e2e61d67b05318aa25c9e6c6 # v2.20.0
        with:
          check_name: Instrumented Test Results
          files: tests/**/*.xml
