name: Upload Release

on:
  workflow_dispatch:
    inputs:
      versionBump:
        description: Version bump (remember to update changelog)
        type: choice
        options:
          - patch
          - minor
          - major
      artemisSoftUpdate:
        description: Artemis SBS latest version
      artemisRequiredUpdate:
        description: Version required to support Artemis
        type: boolean
      securityRequiredUpdate:
        description: Version required for security
        type: boolean

concurrency:
  group: ${{ github.workflow }}

jobs:
  wait-for-prerequisites:
    name: Wait for ${{ matrix.workflow.name }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        workflow:
        - file: gradle.yml
          name: Java CI with Gradle
        - file: instrumented-tests.yml
          name: Android Instrumented Tests
        - file: dependency-analysis.yml
          name: Dependency Analysis
        - file: android-lint.yml
          name: Android Lint
    permissions: {}
    steps:
      - name: Get SHA of latest run
        id: find-latest-run
        run: gh run list -R ${{ github.repository }} -b main -w "${{ matrix.workflow.name }}" -L 1 --json headSha -q ".[0].headSha" | awk '{print "headSha=" $0}' | tee -a "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Wait for action
        uses: ArcticLampyrid/action-wait-for-workflow@ff297b23789206858260877c4b83026d90c6db8c # v1.3.0
        with:
          workflow: ${{ matrix.workflow.file }}
          wait-interval: 5
          sha: ${{ steps.find-latest-run.outputs.headSha }}

  release:
    runs-on: ubuntu-latest
    needs: wait-for-prerequisites
    environment: Production
    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ secrets.RELEASE_PAT }}

      - name: Generate secret files
        run: |
          echo ${{ secrets.KEYSTORE_PROPERTIES }} | base64 -d > ${{ github.workspace }}/keystore.properties
          echo ${{ secrets.KEYSTORE_FILE }} | base64 -d > ${{ github.workspace }}/app/artemis-agent-keystore.jks
          echo ${{ secrets.GOOGLE_SERVICES }} | base64 -d > ${{ github.workspace }}/app/google-services.json

      - name: Set up JDK 21
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version-file: .tool-versions
          distribution: 'temurin'

      # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
      # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1

      - name: Read version from properties file
        uses: kurt-code/gha-properties@a2a0b14f87e2389e7b65fced95cef9d7cea2fc20 # v0.0.2
        id: version
        with:
          operation: read
          file-path: version.properties
          keys: 'versionCode,versionName'

      - name: Increment app version code
        id: nextVersionCode
        run: echo "versionCode=$((${{ steps.version.outputs.versionCode }}+1))" >> "$GITHUB_OUTPUT"

      - name: Bump app version name
        id: nextVersionName
        uses: cbrgm/semver-bump-action@cf05eb18c87f557920d7dcd905103a35d4eeb9c9 # v1.0.46
        with:
          current-version: ${{ steps.version.outputs.versionName }}
          bump-level: ${{ inputs.versionBump }}

      - name: Update version properties file
        uses: kurt-code/gha-properties@a2a0b14f87e2389e7b65fced95cef9d7cea2fc20 # v0.0.2
        with:
          operation: write
          file-path: version.properties
          key-value-pairs: '{"versionCode": "${{ steps.nextVersionCode.outputs.versionCode }}", "versionName": "${{ steps.nextVersionName.outputs.new_version }}"}'

      - name: Update changelog
        run: |
          rm changelog/*
          echo "${{ vars.CHANGELOG }}" > changelog/whatsnew-en-US

      - name: Bundle
        uses: burrunan/gradle-cache-action@663fbad34e03c8f12b27f4999ac46e3d90f87eca # v3.0.1
        with:
          arguments: clean bundleRelease

      - name: Authenticate for Deployment
        id: auth
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          workload_identity_provider: projects/${{ secrets.WIF_PROJECT_ID }}/locations/global/workloadIdentityPools/${{ secrets.WIF_POOL }}/providers/${{ secrets.WIF_PROVIDER }}
          service_account: ${{ secrets.DEPLOY_SA_USER }}@${{ secrets.GCP_PROJECT }}.iam.gserviceaccount.com

      - name: Set Firebase Project
        if: ${{ inputs.securityRequiredUpdate || inputs.artemisRequiredUpdate || inputs.artemisSoftUpdate }}
        uses: w9jds/firebase-action@ab89a5bee66746c82a48687c22200cf6eb897221 # v15.6.0
        with:
          args: use ${{ secrets.GCP_PROJECT }}

      - name: Get Firebase Remote Config
        if: ${{ inputs.securityRequiredUpdate || inputs.artemisRequiredUpdate || inputs.artemisSoftUpdate }}
        uses: w9jds/firebase-action@ab89a5bee66746c82a48687c22200cf6eb897221 # v15.6.0
        with:
          args: remoteconfig:get -o app/remote-config.json

      - name: Obtain Ownership
        if: ${{ inputs.securityRequiredUpdate || inputs.artemisRequiredUpdate || inputs.artemisSoftUpdate }}
        run: sudo chown -R $(whoami):$(id -g) app/remote-config.json

      - name: Update Artemis Version Parameter
        if: ${{ inputs.artemisSoftUpdate }}
        uses: jossef/action-set-json-field@890d7642122dbb2833dddd2003659bb71a2b21fe # v2.2
        with:
          file: app/remote-config.json
          field: parameters.artemis_latest_version.conditionalValues.Everyone.rolloutValue.value
          value: ${{ inputs.artemisSoftUpdate }}

      - name: Update Version Code for Artemis Parameter
        if: ${{ inputs.artemisRequiredUpdate }}
        uses: jossef/action-set-json-field@890d7642122dbb2833dddd2003659bb71a2b21fe # v2.2
        with:
          file: app/remote-config.json
          field: parameterGroups.required_versions.parameters.required_version_artemis.conditionalValues.Everyone.rolloutValue.value
          value: ${{ steps.nextVersionCode.outputs.versionCode}}

      - name: Update Version Code for Security Parameter
        if: ${{ inputs.securityRequiredUpdate }}
        uses: jossef/action-set-json-field@890d7642122dbb2833dddd2003659bb71a2b21fe # v2.2
        with:
          file: app/remote-config.json
          field: parameterGroups.required_versions.parameters.required_version_security.conditionalValues.Everyone.rolloutValue.value
          value: ${{ steps.nextVersionCode.outputs.versionCode}}

      - name: Publish Firebase Remote Config
        if: ${{ inputs.securityRequiredUpdate || inputs.artemisRequiredUpdate || inputs.artemisSoftUpdate }}
        uses: w9jds/firebase-action@ab89a5bee66746c82a48687c22200cf6eb897221 # v15.6.0
        with:
          args: deploy --only remoteconfig

      - name: Upload to Google Play Store
        uses: r0adkll/upload-google-play@935ef9c68bb393a8e6116b1575626a7f5be3a7fb # v1.1.3
        with:
          releaseName: Artemis Agent v${{ steps.nextVersionName.outputs.new_version }}
          serviceAccountJson: ${{ steps.auth.outputs.credentials_file_path }}
          packageName: artemis.agent
          releaseFiles: app/build/outputs/bundle/release/app-release.aab
          track: production
          whatsNewDirectory: changelog

      - name: Update README
        run: |
          var="${{ steps.nextVersionName.outputs.new_version }}"
          sed -i "1s/.*/# Artemis Agent $var/" ${{ github.workspace }}/README.md

      - name: Commit
        id: commit
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          commit_message: Release version ${{ steps.nextVersionName.outputs.new_version }}
          commit_options: "--no-verify --signoff"
          commit_user_name: ${{ github.triggering_actor }}
          commit_user_email: ${{ github.triggering_actor }}@users.noreply.github.com
          branch: main
          add_options: "-u"

      - name: Tag
        id: tag
        uses: mathieudutour/github-tag-action@a22cf08638b34d5badda920f9daf6e72c477b07b # v6.2
        with:
          github_token: ${{ secrets.RELEASE_PAT }}
          custom_tag: ${{ steps.nextVersionName.outputs.new_version }}
          commit_sha: ${{ steps.commit.outputs.commit_hash }}

      - name: Release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          tag: ${{ steps.tag.outputs.new_tag }}
          name: ${{ steps.tag.outputs.new_tag }}
          body: |
            ${{ vars.CHANGELOG }}
            <a href="https://play.google.com/store/apps/details?id=artemis.agent">
            <img src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png" alt="Get it on Google Play!" height="70">
            </a>
